auto-save-list
elpa
eshell
places
recentf
settings.org~
straight/build/
straight/build-cache.el
straight/modified/
straight/repos/
transient
projectile-bookmarks.eld
settings.el
eln-cache
history
projectile.cache
projects
